@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
body{
    background-color: #1f4c79;
    text-align: center;
}

li {
    padding: 5px;
    font-size: 30px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 0px solid #000;
    border-top: 0px solid #000;
    box-shadow: 0px 0px 0px #1f4c79;
    transition: 0.5s;
}

li:hover {
    box-shadow: 0px 3px 5px #1f4c79;
    border-left: 10px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    color: #fff;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

h1:hover {
    transform: rotateY(360deg);
    transition: 1.0s;
}

#datatopo{
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
}

footer{
    text-align: center;
    margin: 10px;
}

nav{
    margin-bottom: 600px;
}

.line {
    border-right: 2px solid #ffffffbf;
    white-space: nowrap;
    overflow: hidden;
}

.animation {
    animation: blink 750ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}

@keyframes blink{
    from {
        border-right-color: #ffffffbf;
    }
    to {
        border-right-color: transparent;
    }
}
